{% extends 'users/base.html'%}

{% block title %} Бюджеты {% endblock%}

{% block content %}
    <h1> Бюджеты </h1>
    <ul>
        {% if budgets %}
            {% for elem in budgets %}
                <li>{{elem.date}}:
                    <p>
                       Категория: {{elem.category}}
                    </p>
                    <p>
                        Лимит: {{elem.limit}} ; Потрачено: {{elem.spent}}
                    </p>
                </li>
                <a href="{% url 'budget_update' elem.id %}"> Редактировать </a>
                <a href="{% url 'budget_delete' elem.id %}"> Удалить </a>
            {% endfor %}
        {% else %}
            <p> Нет записей </p>
        {% endif %}
    </ul>
    <a href="{% url 'budget_create'%}"> Добавить новые бюджеты</a>
{% endblock %}