{% extends 'users/base.html'%}

{% block title%} Цели {% endblock %}

{% block content %}
<div class="features">
    <h1> Цели </h1>
    <ul>
        {% if goals %}
            {% for elem in goals %}
                <li> {{elem.date}}:
                    <p>
                        Цель: {{elem.name}}
                    </p>
                    <p>
                        Конечная сумма: {{elem.target_amount}}
                    </p>
                    <p>
                        Текущая сумма: {{elem.current_amount}}
                    </p>
                    <p>
                        Накопить до: {{elem.deadline}}
                    </p>
                </li>
                <a href="{% url 'goal_update' elem.id%}" class="btn btn-primary"> Редактировать </a>
                <a href="{% url  'goal_delete' elem.id%}" class="btn btn-danger"> Удалить </a>
                <hr>
            {% endfor %}
        {% else %}
            <p> Нет записей </p>
        {% endif %}
    </ul>
    <p>
        <a href="{% url 'goal_create' %}" class="btn btn-dark">Добавить новую цель </a>
    </p>
    <a href="{% url 'finance_home' %}" class="btn btn-dark"> Назад </a>
</div>

{% endblock %}