{% extends 'users/base.html'%}

{% block title%} Цели {% endblock %}

{% block content %}
    <h1> Цели </h1>
    <ul>
        {% if goals %}
            {% for elem in goals %}
                <li> {{elem.date}}:
                    <p>
                       Цель: {{elem.name}}
                    </p>
                    <p>
                        Конечная сумма: {{elem.target_amount}}
                    </p>
                    <p>
                        Текущая сумма: {{elem.current_amount}}
                    </p>
                    <p>
                        Накопить до: {{elem.deadline}}
                    </p>
                </li>
                <a href="{% url 'goal_update' elem.id%}"> Редактировать </a>
                <a href="{% url  'goal_delete' elem.id%}"> Удалить </a>
            {% endfor %}
        {% else %}
            <p> Нет записей </p>
        {% endif %}
    </ul>
    <a href="{% url 'goal_create'%}"> Добавить новые цели </a>
{% endblock %}