{% extends 'users/base.html'%}

{% block title %} Добавить цели {% endblock %}

{% block content %}
    <div class="features">
        <h1> Мои цели </h1>
        <div class="form">
            <form method="post">
                {% csrf_token %}
                {{form.as_p}}
                <button type="submit" class="btn btn-success"> Добавить </button>
            </form>
        </div>

        <a href="{% url 'goal_list'%}" class="btn btn-dark"> Посмотреть все цели </a>
    </div>
{% endblock %}
