{% extends 'users/base.html'%}
{% block title%} Главная страница {% endblock %}

{% block content%}
    <h1>Главная страница</h1>
    <hr>
    {% if user.is_authenticated %}
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit">Log out</button>
        </form>
    {% else %}
        <p>
        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <button type="submit">Log in</button>
        </form>
        </p>
    <p>
        <form action="{% url 'register' %}" method="post">
            {% csrf_token %}
            <button type="submit">Register</button>
        </form>
    </p>
    {% endif %}
{% endblock %}